/* SidebarChannels */
.sidebar-channels {
  display: flex;
  flex-direction: column;

  background-color: var(--background-color-400);

  width: 240px;
  flex: 0 0 auto;
}

/* Hat */
.sidebar-channels__hat {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  color: var(--white);

  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);

  height: 48px;
}

.sidebar-channels__title {
  font-size: 16px;
}

.sidebar-channels__dropdown {
  display: flex;
  place-content: center;
}

/* Shirt */
.sidebar-channels__shirt {
  padding: 8px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: hidden;
}

.sidebar-channels__shirt:hover {
  overflow-y: scroll;
}

/* Channels */
.sidebar-channels__channels {
  display: flex;
  flex-direction: column;

  color: var(--background-color-200);
}

.sidebar-channels__accordion-channels {
  display: flex;
  padding: 4px;
}

/* Channel */
.sidebar-channels__channel {
  display: flex;
  gap: 12px;

  padding: 2px 16px;
}

.accordion-channels__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 12px;
}

.channel__title {
  font-size: 16px;
}

/* Shoes */
.sidebar-channels__shoes {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-color-500);

  padding: 8px;
  padding-right: 16px;
}

.sidebar-channels__profile {
  display: flex;
  gap: 8px;
}

.sidebar-channels__profile-picture {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  object-fit: cover;
}

.sidebar-channels__name {
  color: var(--white);

  font-size: 14px;
}

.sidebar-channels__status {
  color: var(--background-color-200);

  font-size: 12px;
}

.sidebar-channels__shoes-controls {
  display: flex;
  gap: 12px;
}
