:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --green-400: #23a559;
  --background-color-300: #313338;
  --background-color-500: #191b1d;
  --background-color-400: #2b2d31;
}

#root {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
